.link_button {
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  text-decoration: none;

  &.green {
    background: var(--primary, #04d69d);
    border: 0.1rem solid #04d69d;
  }

  &.solid {
    background: var(--primary, #04d69d);
    color: #ffffff;
  }

  &.outline {
    background: unset;
    color: #04d69d;
  }
}
